header {
    text-align: center;
    .colornav {
        &:hover {
        color: rgb(173, 28, 28)
        }
        color: rgb(173, 28, 28);
    }
    nav {
        background-color: aliceblue;
    }
}